


.bg-color-left{background:#f7f7f7;}
.bg-color-right{background:#1c1b1f;}
.bg-color-1{background:#e4e4e4;}

.bg-color-left{background:#f7f7f7;}
.bg-color-right{background:#1c1b1f;}
.bg-color-1{background:#e4e4e4;}